// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tweet-table {
 border: 1px solid gray;
 width: 50%;
 padding: 5px; 
}

.tweet-row {
  margin: 5px;
}

.new-city-form {
  width: 500px;
}

.index-icon {
  width: 30px;
  height: 30px;
}

.city-list {
  list-style-type: none;
}